* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}
body{
  font-family: 'Courier New', Courier, monospace;
  font-size: 22px;
  // background-color: linear-gradient(45deg,rgba(253,104,104,1), rgba(122,36,36,1));
  background-color:rgb(253, 104, 104);
}
.container {
  width: 780px;
  margin: 0 auto;
}

.add-to-list {
  margin: 20px;
  padding: 20px;
  text-align: center;
  color:rgb(99, 24, 37);
  background-color: white;
  border-radius: 10px;

  input{
    outline: 0;
    font-size: 18px;
    padding: 20px;
    margin: 10px;
    border-radius: 30px;
  }

  button {
    background-color: rgb(241, 125, 125);
    border-radius: 30px;
    padding: 10px;

    color: white;
  }
  button:hover{
    background-color:  rgb(71, 6, 6);
    cursor: pointer;
  }
}

.user-list{
  margin: 20px;
  padding: 30px;
  text-align: left;
  border-radius: 10px;
  background-color: white;
  color:rgb(99, 24, 37);

  li{
    padding: 30px;
    list-style-type: none;
    padding: 20px auto;
    border-bottom: 1px solid rgb(99, 24, 37);

    li:hover {
      cursor: pointer;
      background-color: rgb(241, 125, 125);
    }
  }
}
